@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

*{
    font-family: 'Goldman', cursive;
    color: white;
    text-decoration-line: none;
}

body{
    margin: 10px;
    padding: 10px;
    background-color: dimgrey;
}

.cadre{ /*  contient tout   */
    position: relative;
    width: 1110px;
    height: 666px;
    padding : 3px;
    background-color: gray;
}

/*  photo et boutons    */
a{
    color: white;
}

.fablab{
    position: relative;
    float: right;
    width: 444px;
    height: 666px;
    background-image: url("image/fablab01.jpeg");
    background-size: 1110px;
}

#tripleP{
    position: absolute;
    right: 30px;
    width: 10%;
    top: 10px;
    font-size: 200%;
}

.doubleF{
    width: 444px;
    font-size: 50px;
    position: relative;
    top: 308px;
}

#flecheRight{
    position: absolute;
    right: 0;
}

/*    carre   -   8 cases    */
.carre{
    width: 666px;
    position: relative;
}

/*  colonne double  */
.colDouble{
    position: relative;
    display: inline-block;
    width: 444px;
    height: 666px;
}

.titre{
    background-color: lightseagreen;
    height: 182px;
    padding-left: 20px;
    padding-top: 40px;
}

p{
    margin: 5px;
    font-size: 15px;
}

h1{
    margin: 0;
    padding-bottom: 10px;
    font-size: 25px;
}

.navigation{
    padding-top: 20px;
}

.leftMarg10{
    margin-left: 10px;
}

.boutonResume{
    width: 50px;
    border: solid 2px white;
    padding: 5px;
    display: inline;
}

.boutonContact{
    width: 50px;
    border: solid 2px white;
    padding: 5px;
    display: inline;
    margin-left: 10px;
}

/* cases ateliers   -   reseau  -   contact */
.caseAteliers{
    width: 222px;
    height: 222px;
    background-color: blue;
    text-align: center;
}

#logoAteliers{
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 5px;
}

#txtAtelier{
    display: block;
}

.caseReseau{
    width: 222px;
    height: 222px;
    background-color: orangered;
    text-align: center;
}

#logoReseau{
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 5px;
}

#txtReseau{
    display: block;
    padding-left: 20%;
    padding-right: 20%;
}


.caseRepair{
    width: 222px;
    height: 222px;
    background-color: orangered;
    position: absolute;
    right: 0;
    top: 222px;
    text-align: center;
}

#logoRepair{
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 5px;
}

#txtRepair{
    display: block;
    padding-left: 20%;
    padding-right: 20%;
}

.caseContact{
    width: 222px;
    height: 222px;
    background-color: blue;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

#logoContact{
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 5px;
}

#txtContact{
    display: block;
    padding-left: 20%;
    padding-right: 20%;
}

/*      colonne 3       */
.colonne03{
    position: absolute;
    right: 0;
    top: 0;
    width: 222px;
}

.caseAd{
    width: 222px;
    height: 222px;
    background-color: orange;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}

#logoAdherent{
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 5px;
}

#txtAdherent{
    display: block;
    padding-left: 20%;
    padding-right: 20%;
}

.caseEsp{
    width: 222px;
    height: 222px;
    background-color: lightseagreen;
    text-align: center;
    position: absolute;
    right: 0;
    top: 222px;
}

#logoEsp{
    display: block;
    font-size: 40px;
    padding-top: 70px;
    padding-left: 20%;
    padding-right: 20%;
}

#txtEsp{
    display: block;
    padding-left: 20%;
    padding-right: 20%;
}


.caseGalerie{
    width: 222px;
    height: 222px;
    background-color: orangered;
    text-align: center;
    position: absolute;
    top: 444px;
    left: 0;
}

#logoGalerie{
    display: block;
    font-size: 40px;
    padding-top: 70px;
    padding-left: 20%;
    padding-right: 20%;
}

#txtGalerie{
    display: block;
    padding-left: 20%;
    padding-right: 20%;
}

